{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "require-jsdoc": "off",
    "no-trailing-spaces": "off",
    "operator-linebreak": "off",
    "max-len": "off",
    "comma-dangle" : "off"
  }
}
